.class-header-about img{
  z-index: 1;
  height: 780px;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

.class-header-about{
  height: 780px;
}

.class-header-about h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20%;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 35%;
  font-size: 1.5em;
}

.div-text-header{
  padding-top: 20%;
}

.class-header-about iframe{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  height: 380px;
  width: 35%;
  border-radius: 10px;
}

.class-header-about h3{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 62%;
  color: rgb(255, 165, 0);
  text-align: center;
  font-size: 1.5em;
  width: 75%;
}

.class-header-about h4{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 66%;
  text-align: center;
  color: #fff;
  font-size: 1.1em;
}

.class-header-about span{
  color: rgb(175, 0, 0);
  text-decoration: line-through 2px solid;
}

.class-header-about h2{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 69%;
  color: rgb(255, 165, 0);
  text-align: center;
  font-size: 1.3em;
}

.btn-header{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 74%;
  height: 40px;
  width: 230px;
  background-color: #7000ff;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  transition-duration: 0.5s;
  font-size: 1em;
}

.btn-header:hover{
  background-color: rgb(255, 165, 0);
  color: #000;
}

.section-about-course{
  position: relative;
  padding-top: 0;
  height: 370px;
  background-image: linear-gradient(45deg, #6f00ff, #913cff);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-about-course h1{
  margin: 0;
  font-size: 1.6em;
  margin-bottom: 10px;
}

.section-about-course h3{
  color: rgba(255, 255, 255, 0.774);
  font-size: 1.2em;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-weight: 500;
  width: 35%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.section-course-bonus h1{
  margin-top: 3%;
  font-size: 1.7em;
  font-weight: 800;
  color: #000;
  text-align: center;
}

.section-course-bonus{
  position: relative;
  margin-top: 0;
  background-color: #fff;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.bonus{
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.575) 7px 7px 15px;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: #7000ff;
  margin: 1%;
  transition-duration: 0.5s;
}

.bonus:hover{
  transform: scale(105%);
  rotate: -10deg;
}

.number-bonus{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 40px;
  width: 150px;
  background-color: rgb(255, 165, 0);
}

.text-bonus{
  margin-top: 5%;
}

.container-bonus{
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.parallax-image img{
  filter: opacity(0.3);
  height: 850px;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0%;
  overscroll-behavior-block: initial;
}

.section-benefits{
  margin-top: 10%;
  background-color: rgb(22, 22, 22);
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.section-benefits img{
  height: 250px;
  width: 250px;
  position: relative;
  margin-top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-benefits h1{
  margin: 0;
  padding-top: 2%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgb(255, 165, 0);
  width: 85%;
  font-size: 1.3em;
  padding-bottom: 10px;
}

.section-benefits h3{
  text-align: center;
  color: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 15px;
  padding-right: 15px;
}

.section-by-course{
  margin-top: -15%;
  height: 265px;
  width: 100%;
  background-color: #fff;
}

.section-by-course h3{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 165, 0);
  text-align: center;
  font-size: 1.3em;
  width: 75%;
}

.section-by-course h1{
  padding-top: 20px;
  color: #000;
  font-size: 1.3em;
}

.section-by-course h4{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.1em;
}

.section-by-course span{
  color: rgb(175, 0, 0);
  text-decoration: line-through 2px solid;
}

.section-by-course h2{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 165, 0);
  text-align: center;
  font-size: 1.3em;
  background-color: #000;
  width: 130px;
  border-radius: 5px;
}

.btn-by-course{
  margin-top: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 230px;
  background-color: #7000ff;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  transition-duration: 0.5s;
  font-size: 1em;
}

.btn-by-course:hover{
  background-color: rgb(255, 165, 0);
  color: #000;
}

.pole-left{
  position: absolute;
  left: 3%;
  transform: scale(15%);
}

.pole-right{
  position: absolute;
  right: 3%;
  transform: scale(15%);
}