<<<<<<< HEAD
#last-watched span{
    margin-top: 2.5em;
    position: absolute;
    color: #fff;
    font-size: 2em;
}

#last-watched iframe{
    margin-right: 1em;
    margin-top: 9em;
    border: 3px #7000ff solid;
    border-radius: 15px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

#last-watched{
    margin-left: 1.5em;
    display: flex;
}


#last-watched iframe:hover{
    border-color: #fff;
    transform: scale(103%);
}

#next-class span{
    margin-top: 1em;
    position: absolute;
    color: #fff;
    font-size: 2em;
}

#next-class iframe{
    margin-top: 6em;
    border: 3px #7000ff solid;
    border-radius: 15px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

#next-class iframe:hover{
    border-color: #fff;
    transform: scale(103%);
}

#next-class{
    margin-left: 1.5em;
}

#next-class button{
    position: absolute;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #ffff;
    width: 75px;
    height: 35px;
    color: #ffff;
    font-weight: 800;
    margin-top: 15px;
    transition-duration: 0.5s;
    cursor: pointer;
}

#next-class button:hover{
    transform: scale(108%);
    background-color: #ffff;
    color: #000;
=======
#header-id{
    background-color: rgb(20, 20, 20);
    height: 3.5em;
    box-shadow: #000 15px 0px 20px;
}

#tittle-header h2{
    font-size: 2em;
    color: transparent;
    padding-left: 0.7em;
    -webkit-text-stroke: 1px #fff;
}

#profile-pic img{
    height: 45px;
    width: 45px;
    border-radius: 50px;
}
#profile-pic{
    position: absolute;
    top: 0.6%;
    left: 97%;
}

#user-name{
    color: #fff;
    position: absolute;
    top: 1.6%;
    left: 92%;
}

#purple-progress-bar{
    height: 20px;
    width: 60px;
    background-color: #7000ff;
    border-radius: 20px;
    position: absolute;
    top: 1.9%;
    left: 83%;
}

#progress-bar{
    height: 20px;
    width: 130px;
    background-color: rgb(100, 100, 100);
    border-radius: 20px;
    position: absolute;
    top: 1.9%;
    left: 83%;
}

#text-progress{
    color: #fff;
    position: absolute;
    top: 1.6%;
    left: 74%;
}

#last-watched span{
    color: #fff;
    font-size: 2em;
>>>>>>> 2d0970dd9de444238f80b2076292e4636bdfd5ef
}