form{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3.5%;
    background-color: transparent;
    background-image: linear-gradient(150deg, rgb(66, 66, 66), rgb(26, 26, 26));
    width: 30em;
    height: 50em;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.473) 15px 15px 15px;
}
form div{
    display: flex;
    flex-direction: column;
}
.inputs{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 35px;
    width: 280px;
    border: none;
    border-radius: 5px;
    border: transparent solid 3px;
    padding-left: 0.7em;
    font-weight: 800;
}

.inputs:focus{
    outline-style: none;   
    border: #7000ff solid 3px; 
}

.text-inputs-signin{
    margin-top: 1em;
    position: relative;
    left: 20.5%;
    color: #fff;
}
#top-text-input{
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    margin-top: 50%;
    color: #fff;
}

#signin-account-btn input{
    margin-top: 2em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #ffff;
    width: 180px;
    height: 40px;
    color: #ffff;
    font-weight: 800;
    transition-duration: 0.5s;
    cursor: pointer;

}

#signin-account-btn input:hover{
    background-color: #ffff;
    color: #000;
}