.container-signin {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.form-signin {
  background-color: transparent;
  background-image: linear-gradient(150deg, rgb(66, 66, 66), rgb(26, 26, 26));
  width: 25em;
  height: 30em;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.473) 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs-signin {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 35px;
  width: 280px;
  border: none;
  border-radius: 5px;
  border: transparent solid 3px;
  padding-left: 0.7em;
  font-weight: 800;
}

.inputs-signin:focus {
  outline-style: none;
  border: #7000ff solid 3px;
}

.text-inputs-signin {
  margin-top: 1em;
  position: relative;
  left: 13%;
  color: #fff;
  width: 50%;
}
#top-text-input-signin {
  text-align: center;
  font-size: 1.7em;
  font-weight: 800;
  color: #fff;
}

#signin-account-btn input {
  margin-top: 2em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #ffff;
  width: 180px;
  height: 40px;
  color: #ffff;
  font-weight: 800;
  transition-duration: 0.5s;
  cursor: pointer;
}

#signin-account-btn input:hover {
  background-color: #ffff;
  color: #000;
}

#icon-password-login {
  position: relative;
  top: -6.5%;
  left: 78%;
}

@media (max-width: 490px) {
  .container-signin {
    margin: 5%;
  }
}
