#header-id {
  background-color: rgb(20, 20, 20);
  height: 3.5em;
  box-shadow: #000 15px 0px 20px;
  display: flex;
  justify-content: space-between;
}

#header-container-info {
  display: flex;
  margin-right: 1.5%;
}

#tittle-header h2 {
  font-size: 2em;
  color: transparent;
  padding-left: 0.7em;
  -webkit-text-stroke: 1px #fff;
}

#profile-pic img {
  height: 45px;
  width: 45px;
  border-radius: 50px;
}
#profile-pic {
  position: relative;
  display: flex;
  align-items: center;
}

#user-name {
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#text-progress {
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#progress-bar-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

@media (max-width: 807px) {
  #tittle-header h2 {
    font-size: 1.8em;
  }
}

@media (max-width: 778px) {
  #tittle-header h2 {
    font-size: 1.5em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  #text-progress {
    position: relative;
    left: 8%;
  }
}

@media (max-width: 693px) {
  #text-progress {
    display: none;
  }
}

@media (max-width: 561px) {
  #user-name {
    display: none;
  }
  #tittle-header h2 {
    font-size: 1.6em;
  }
}
