footer {
  background-color: #7000ff;
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
}
footer span {
  margin: 0.3em;
}

footer p {
  cursor: pointer;
}

#link-whatsapp p {
  font-weight: 800;
}

@media screen and (max-width: 670px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8em;
  }
  footer span {
    display: none;
  }
}
